.navbar {
    height: 4rem;
    background-color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.navbar-brand h3 {
    padding-top: 1.1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fe424d;
}

.fa-hotel {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.2rem !important;
    color: #222222 !important;
} 


/* FOOTER */
footer {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    color: #222222;
}

.f-info-links {
    margin-top: 1rem;
}

.f-info-links a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: #666;
    transition: color 0.2s ease;
}

.f-info-links a:hover {
    color: #333;
}

.f-info {
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.3rem;
}

.f-info-socials {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.f-info-socials a {
    margin: 0 0.5rem;
    color: #666;
    transition: color 0.2s ease;
}

.f-info-socials a:hover {
    color: #333;
}


